<h1>Editing cutaway page</h1>

<%= render "form", cutaway_page: @cutaway_page %>

<br>

<div>
  <%= link_to "Show this cutaway page", @cutaway_page %> |
  <%= link_to "Back to cutaway pages", cutaway_pages_path %>
</div>
