<p style="color: green"><%= notice %></p>

<div class="container">
<h1 class="text-center">Страницы <%= link_to "+", new_cutaway_page_path, class: "btn btn-success" %></h1>

<div id="cutaway_pages">
  <% @cutaway_pages.each do |cutaway_page| %>
    <% if cutaway_page.parent_id == nil %>
      <div class="poloska"></div>
      <%= render "cutaway_page_row", cutaway_page: cutaway_page %>
    <% end %>
  <% end %>
  <div class="poloska"></div>
</div>
</div>