<p style="color: green"><%= notice %></p>

<h1 class="text-center">Футеры <%= link_to "+", new_footer_path, class: "btn btn-success" %></h1>

<div id="footers" class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Название</th>
        <th scope="col">Язык</th>
        <th scope="col">Состояние</th>
      </tr>
    </thead>
    <tbody>
      <% @footers.each do |footer| %>
        <%= render "footers/footer_row", footer: footer %>
      <% end %>
    </tbody>
  </table>


  
</div>
