<p style="color: green"><%= notice %></p>
<div class="container">
<h1 class="text-center">Языки <%= link_to "+", new_language_path, class: "btn btn-success" %></h1>

<div id="languages">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Код</th>
        <th scope="col">По умолчанию</th>
      </tr>
    </thead>
    <tbody>
      <% @languages.each do |language| %>
        <%= render "languages/language_row", language: language %>
      <% end %>
    </tbody>
  </table>
</div>
</div>