<h1 class="text-center">Редактирование nav <%= @nav.name %></h1>

<%= render "form", nav: @nav %>

<br>

<div>
  <%= link_to "Show this nav", @nav %> |
  <%= link_to "Back to navs", navs_path %>
</div>
