<div class="container">
  <h1 class="text-center mt-3">Обзор сайта</h1>  

  <h2>Ошибки строения сайта:</h2>
  <% @site_warnings.each do |warning| %>
    <% if warning %>
      <% if warning.size == 1 %>
        <p><strong>> <%= warning.first %></strong></p>
      <% else %>  
        <p><strong>> <%= warning.first %></strong> |
        <% warning.last.each do |obj| %>
          <%= link_to obj.name, obj %> |
        <% end %></p>
      <% end %>
    <% end %>
  <% end %>

  <h2>Ошибки SEO:</h2>
</div>